{% extends 'mailing/base.html' %}

{% block content %}

{% if not user.is_staff %}
<a href="{% url 'mailing:message_create' %}" type="button"
   class="btn btn-lg btn-outline-primary mb-5">Создать сообщение</a>
{% endif %}

<div class="row text-center">
    <div class="col-12">
        <div class="row">
            {% for object in object_list %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ object.subject }}</h4>
                    </div>
                    <div class="card-body">
                       <p class="card-text">{{ object.message|truncatechars:100 }}</p>
                    </div>
                    <div class="card-footer">
                        {% if not user.is_staff %}
                            <a href="{% url 'mailing:message_update' object.pk %}" class="btn btn-warning text-white">Изменить</a>
                            <a href="{% url 'mailing:message_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}