{% extends 'mailing/base.html' %}

{% block content %}
<form method="post" class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 align="center">Вход</h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Войти</button>
                <a href="{% url 'mailing:home' %}" class="btn">Отмена</a>
            </div>
            <div class="card-footer">
                <a href="{% url 'users:user_password_recovery' %}" class="btn btn-danger">Не помню пароль</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}